<div class="rounded-5 container-fluid sticky-top bg-player d-flex align-items-center justify-content-center p-2 mb-1 mt-1">
  <h6 class="me-2 text-player-responsive text-white">Escuchanos en vivo</h6>
  <div class="player-wrapper d-flex align-items-center justify-content-center">
      <button id="playButton" class="play-pause-button">
          <i class="fas fa-play"></i>
      </button>
      <div class="mx-4" id="volumeControl">
          <input type="range" id="volume" name="volume" min="0" max="1" step="0.1">
      </div>
  </div>
</div>